@import url('https://fonts.googleapis.com/css?family=VT323');

@keyframes blink{
    0%{opacity: 1}
    50%{opacity: 0}
    100%{opacity: 1}
}
@keyframes shake{
    0%{transform: translate3D(0,0,0);}
    20%{transform: translate3D(1%,1%,0);}
    40%{transform: translate3D(-1%,-1%,0);}
    60%{transform: translate3D(1%,-1%,0);}
    80%{transform: translate3D(-1%,1%,0);}
    100%{transform: translate3D(0,0,0);}
}
*{
    box-sizing: border-box;
    font-size: 6vmin;
    font-family: 'VT323' ;
    color: white;
}
html, body{
    background-color:green;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border:0;
}
.container{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:90%;
    height:100%;
}
.game{
    position:relative;
    display: grid;
    grid-template-columns: 1.2fr 1.6fr 1.2fr;
    grid-template-rows: .8fr 2fr .8fr;
    grid-template-areas:    "state result restart"
                            "content content content"
                            "keyboard keyboard keyboard";
    width: 80vmin;
    height: 60vmin;
    background-image: url(./res/background.jpg);
    background-size: cover;
    background-position-x: 45% ;
    margin: 2vmin;
    z-index: 0;

}
.game--fail{
    animation: shake .2s forwards ease-in-out;
}
.area__fail{
     position: absolute;
    background-color: red ;
    opacity: 0;
     width:100%;
     height:100%;
    pointer-events: none;
    z-index: -1;
 }
.area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vmin;
}
.area__state{
    border-bottom: .3vmin solid white;
    border-right: .3vmin solid white;
    margin:1vmin 0 0 1vmin;

}
.area__result{
    grid-area: result;
    border-bottom: .3vmin solid white;
    margin-top: 1vmin;
}
.area__keyboard{
    grid-area: keyboard;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:0 1vmin 1vmin 1vmin;
}
.area__content{
    grid-area: content;
    color: yellow;
}
.area__content::after{
    position: absolute;
    content: 'HOVER OVER GAME AREA TO USE KEYBOARD INPUT';
    font-size: 3vmin;
    bottom: 24%;
    left: 18.5%;
    color: yellow;

}
.area__text{
    text-align: center;
}
.area__text--blink{
    font-weight: bold;
    animation: blink .6s infinite;
}
.button__restart{
    grid-area: restart;
    border-bottom: .3vmin solid white;
    border-left: .3vmin solid white;
    margin:1vmin 1vmin 0 0;
}
.button__key{
    width:5.8vmin;
    padding:.2vmin;
    flex-grow:1;
    text-align: center;
}
.button--disabled{
    color: dimgrey;
    pointer-events: none;

}
.button:hover{
    color: yellow;
    font-weight: bold;
}
